/*-- //header --*/
/*--banner--*/

.banner {
  background: #000;
}
.banner-info {
  margin: 8em 0;
  text-align: center;
}
.banner-info h3 {
  color: #fff;
  font-size: 3em;
  width: 80%;
  margin: 0 auto 1em;
}
.search-form {
  width: 55%;
  margin: 0 auto;
}
.search-form input[type="text"] {
  width: 93%;
  padding: 10px;
  outline: none;
  font-size: 1em;
  color: #fff;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.45);
  margin-left: 3px;
}
.search-form input[type="submit"] {
  width: 40px;
  height: 41px;
  outline: none;
  border: 1px solid #fff;
  background: url(../../../assets/images/can.png) no-repeat 6px 7px #fccd1e;
  display: inline-block;
}
.search-form input[type="submit"]:hover {
  background: url(../../../assets/images/can.png) no-repeat 6px 7px #039445;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}
/*-- //to-top --*/
.spec {
  text-align: center;
  margin-bottom: 3em;
}
.spec h3 {
  font-size: 3em;
  color: #000;
  margin-bottom: 0.5em;
}
.ser-t {
  text-align: center;
  margin: 0 auto;
  width: 20%;
  position: relative;
}
.ser-t b {
  width: 100%;
  height: 2px;
  display: block;
  background: #039445;
  margin-bottom: 3px;
}
.ser-t b.line {
  width: 80%;
  margin: 0 auto;
}
.ser-t span {
  width: 40px;
  height: 40px;
  display: block;
  background: #fff;
  position: absolute;
  top: -7px;
  left: 42%;
}
.ser-t span i {
  width: 20px;
  height: 20px;
  display: block;
  border: 2px solid #039445;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
  margin-left: 0.7em;
}
